<!--
Template: Welcome Screen
App Name: MEAN Boiler
Purpose: Home Screen Of App
Created By: Hardik Thakor -->

<div id="" class="container">
  <div id="head" class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center">
      <h1 class='btn-primary'>MEAN Boiler Plate for Beginner</h1>

      <div class="row col-lg-12 col-md-12 col-sm-12 col-xs-12 text-left">
        <h5>Hello Dev, </h5><br><br>
        <div class="text-left content-main">

          <purpose></purpose>
          <description></description> <!-- Description Directive-->

          It has modifed folder structure of <strong>expressJS</strong>, specially designed for the <strong>Beginner</strong>.<br><br>

          <feature></feature> <!-- Feature Directive-->
        </div>
        <div  class="text-center">
          <api-button></api-button>
        </div>
      </div>

      <!--  Toaster -->
      <div id="toaster">{{toaster_msg}}</div>
</div>
